!!!
%html{ :lang => :en }
  %head
    %meta{ :charset => "utf-8" }
    %title Venyr #{yield_content(:title)}
    = stylesheet_tag('screen')
    = stylesheet_tag('http://fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700')
    %script{ :src => "https://rdio.com/api/api.js?client_id=#{ENV['RDIO_CLIENT_ID']}" }
    = yield_content(:head)
  %body
    #wrap
      %header
        %h1
          %a{ href: '/' } venyr
      = yield
    :plain
      <script>document.write('<script src="//cdnjs.cloudflare.com/ajax/libs/' +
      ('__proto__' in {} && !/firefox\/3/i.test(navigator.userAgent) ?
      'zepto/1.0rc1/zepto.min.js' : 'jquery/1.9.0/jquery.min.js') + '"><\/script>')</script>
    = javascript_tag('application')
